.padding {
    &-1 {
        padding: 1rem;
    }
    &-2 {
        padding: 2rem;
    }
    &-3 {
        padding: 3rem;
    }
    &-4 {
        padding: 4rem;
    }
    &-top {
        &-1 {
            padding-top: 1rem;
        }
        &-2 {
            padding-top: 2rem;
        }
        &-3 {
            padding-top: 3rem;
        }
        &-4 {
            padding-top: 4rem;
        }
    }
    &-bottom {
        &-1 {
            padding-bottom: 1rem;
        }
        &-2 {
            padding-bottom: 2rem;
        }
        &-3 {
            padding-bottom: 3rem;
        }
        &-4 {
            padding-bottom: 4rem;
        }
    }
    &-left {
        &-1 {
            padding-left: 1rem;
        }
        &-2 {
            padding-left: 2rem;
        }
        &-3 {
            padding-left: 3rem;
        }
        &-4 {
            padding-left: 4rem;
        }
    }
    &-right {
        &-1 {
            padding-right: 1rem;
        }
        &-2 {
            padding-right: 2rem;
        }
        &-3 {
            padding-right: 3rem;
        }
        &-4 {
            padding-right: 4rem;
        }
    }
}

.margin {
    &-1 {
        margin: 1rem;
    }
    &-2 {
        margin: 2rem;
    }
    &-3 {
        margin: 3rem;
    }
    &-4 {
        margin: 4rem;
    }
    &-top {
        &-1 {
            margin-top: 1rem;
        }
        &-2 {
            margin-top: 2rem;
        }
        &-3 {
            margin-top: 3rem;
        }
        &-4 {
            margin-top: 4rem;
        }
    }
    &-bottom {
        &-1 {
            margin-bottom: 1rem;
        }
        &-2 {
            margin-bottom: 2rem;
        }
        &-3 {
            margin-bottom: 3rem;
        }
        &-4 {
            margin-bottom: 4rem;
        }
    }
    &-left {
        &-1 {
            margin-left: 1rem;
        }
        &-2 {
            margin-left: 2rem;
        }
        &-3 {
            margin-left: 3rem;
        }
        &-4 {
            margin-left: 4rem;
        }
    }
    &-right {
        &-1 {
            margin-right: 1rem;
        }
        &-2 {
            margin-right: 2rem;
        }
        &-3 {
            margin-right: 3rem;
        }
        &-4 {
            margin-right: 4rem;
        }
    }
}

.color-red {
    color: $color-red;
}

.color-blue {
    color: $color-blue;
}

.color-green {
    color: $color-green;
}

.color-orange {
    color: $color-orange;
}

.color-lightblue {
    color: $color-lightblue;
}

.color-light {
    color: $color-light;
}

.color-dark {
    color: $color-dark;
}

.border {
    border: 1px solid rgb(97, 92, 92);
    border-radius: 20px;
}