.table {
    border-collapse: collapse;
    width: 100%;
    min-width: 1000px;
    max-width: 1200px;
    margin-bottom: 1rem;
    background-color: transparent;
    &__head {
        background-color: $color-dark;
        color: #fff;
        & .table__data {
            padding: 1rem;
        }
    }
}