.navbar {
    &--side {
        display: flex;
        flex-direction: column;
        flex: 0 0 8%;
        justify-content: space-between;
    }
    &--dark {
        background-color: $color-dark;
        color: #fff;
    }
    width: 100%;
    box-shadow: 0px .2rem 1rem rgba(0, 0, 0, .4);
    font-size: 2rem;
    &__list {
        display: flex;
        &--side {
            display: block;
            display: flex;
            flex-direction: column;
            width: min-content;
        }
    }
    &__item {
        padding: 1rem 2rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(143, 138, 138);
        }
        &--edit {
            padding: .7rem 1rem;
            font-size: 1.6rem;
            color: #fff;
            background-color: $color-dark;
            line-height: 1;
        }
    }
    & .right {
        margin-left: auto;
    }
}